.app-list-block {
  width: 220px;
  margin: 10px 0;
  padding: 7px;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
}
.img {
  height: 150px;
  width: 100%;
}
.app-cost-block {
  display: flex;
}

.product-text {
  margin: 5px 0;
}
.btn-list {
  width: 40%;
  border: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
}
.app-text-cost {
  text-align: center;
  width: 60%;
  padding: 5px 10px;
  background-color: wheat;
}
