.app-about-block {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.app-block-rotet {
  width: 20px;
  height: 20px;
  background-color: white;
  transform: rotate(45deg);
  margin: 20px 0;
}
.app-info{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  font-weight: 100;
}
