.app-container-news{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    color: white;

}
.app-block-news{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: black;
}
.app-block-secret{
    width: 300px;
    background-color: white;
    margin: 20px auto;
}
.app-block-secret p {
    font-family: 'Dancing Script', cursive;
     font-weight: 100;
     padding: 10px;
}
.btn-secrets{
    background-color: black;
    color: white;
    padding: 5px 15px;
    margin-bottom: 5px;
    border: none;
}
.path-news{
    margin: 40px 0;
}