.app-layout {
  background: url(../../assets/img/bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app-layout main {
  padding-top: 60px;
  flex: 1;
}
