.app-footer-container {
  background-color: black;
  color: white;
  border-top: 1px solid white;
}
.app-footer-block {
  width: 100%;
  max-width: 1000px;
  padding: 10px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.app-icons-container {
  text-align: center;
}
.app-icons-footer-block{
  display: flex;
}
.company {
  border-radius: 18px;
  display: block;
  margin: 12px 0;
  padding: 7px 10px;
  background-color: white;
  color: black;
}
.icons svg{
  height: 30px;
  width: 30px;
  margin: 15px 5px 0;
}